<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MMDBCacheConfiguration" type="Effort.Configuration.EffortConfigurationSection, Effort" />
  </configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA; 
      data source=.\SQLEXPRESS2008;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <MMDBCacheConfiguration defaultCacheMode="true">
    <tables>
      <!--<add name="Employees" cached="false"/>-->
    </tables>
  </MMDBCacheConfiguration>
</configuration>