<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindContext" providerName="EffortCodeFirstEmulatorProvider"
     connectionString="Context=Effort.CodeFirstDemo.NorthwindContext, Effort.CodeFirstDemo;
                       Data Source=Data"/>
  </connectionStrings>
</configuration>