<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CodeFirstEntities" connectionString="Server=XPS8700;Initial Catalog=Z.Test.EntityFramework.Plus.EF6;Integrated Security=true;Connection Timeout=300;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="TestDatabase" connectionString="Server=XPS8700;Initial Catalog=Z.Test.EntityFramework.Plus.EF6;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!--
    <add name="ScopeHREntities" connectionString="metadata=res://*/ScopeHR_v2.csdl|res://*/ScopeHR_v2.ssdl|res://*/ScopeHR_v2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XPS8700;initial catalog=Z.EntityFramework.Extensions.DatabaseFirst;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SqlCeCodeFirstEntities" connectionString="Data Source=C:\Users\Jonathan\Desktop\Z\zzzproject\zEntityFramework\Test.EntityFramework.Extensions.SqlServer.CodeFirst\UnitTest.sdf;" providerName="System.Data.SqlServerCe.4.0"/>
    <add name="DatabaseFirstEntities" connectionString="metadata=res://*/ModelDatabaseFirst.ModelDatabaseFirst.csdl|res://*/ModelDatabaseFirst.ModelDatabaseFirst.ssdl|res://*/ModelDatabaseFirst.ModelDatabaseFirst.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XPS9100\Z;initial catalog=Z.EntityFramework.Extensions;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
 -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Effort" publicKeyToken="6a46696d54971e6d" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>