<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindObjectContext" 
         connectionString="
            metadata=&quot;
              res://*/Northwind.Northwind.csdl|
              res://*/Northwind.Northwind.ssdl|
              res://*/Northwind.Northwind.msl&quot;;
            provider=System.Data.SqlClient;
            provider connection string=&quot;
              Data Source=sql.flamich.local;
              Initial Catalog=Northwind;
              User ID=nw;
              Password=nw;&quot;" 
         
         providerName="System.Data.EntityClient" />
    
    <add name="FeatureObjectContext" 
         connectionString="
            metadata=&quot;
              res://*/Feature.Feature.csdl|
              res://*/Feature.Feature.ssdl|
              res://*/Feature.Feature.msl&quot;;
            provider=System.Data.SqlClient;
            provider connection string=&quot;
              data source=sql.flamich.local;
              initial catalog=EffortFeature;
              persist security info=True;
              user id=nw;
              password=nw;&quot;" 
         
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>