<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=&quot;res://*/Data.Northwind.csdl|&#xD;&#xA;                    res://*/Data.Northwind.ssdl|&#xD;&#xA;                    res://*/Data.Northwind.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;                    Data Source=sql.flamich.local;&#xD;&#xA;                    Initial Catalog=Northwind;&#xD;&#xA;                    User ID=nw;&#xD;&#xA;                    Password=nw;&#xD;&#xA;                    &quot;" providerName="System.Data.EntityClient" />
    <add name="FeatureEntities" connectionString="metadata=res://*/Data.Feature.csdl|res://*/Data.Feature.ssdl|res://*/Data.Feature.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.flamich.local;initial catalog=EffortFeature;persist security info=True;user id=nw;password=nw;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>