<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <connectionStrings>
         <add 
             name="NorthwindEntities"
             connectionString="
                metadata=
                    res://*/Data.Northwind.csdl|
                    res://*/Data.Northwind.ssdl|
                    res://*/Data.Northwind.msl;
                provider=
                    System.Data.SqlClient;
                provider connection string=
                    &quot;
                    Data Source=sql.flamich.local;
                    Initial Catalog=Northwind;
                    User ID=nw;
                    Password=nw;
                    &quot;" 
             providerName="System.Data.EntityClient" />
     </connectionStrings>
</configuration>