<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityEFProviderWrappers.EFProviderWrapperToolkit" version="1.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="VisualStudioTestingExtensions" version="1.2.0.0" targetFramework="net40" />
</packages>