<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
 <add name="NorthwindEntities" 
      connectionString="
      metadata=
        res://*/Models.Northwind.csdl|
        res://*/Models.Northwind.ssdl|
        res://*/Models.Northwind.msl;
      provider=
        System.Data.SqlClient;
      provider connection string=&quot;
        data source=;
        initial catalog=;
        user id=;
        password=;
        &quot;" 
      
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>