<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Z.EntityFramework.Classic" version="7.1.24" targetFramework="net40" />
  <package id="Z.EntityFramework.Extensions.Classic" version="4.0.52" targetFramework="net40" />
  <package id="Z.Expressions.Eval" version="3.1.6" targetFramework="net40" />
</packages>