<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFrameworkClassic" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, Z.EntityFramework.Classic, Version=7.0.0.0, Culture=neutral, PublicKeyToken=afc61983f100d280" requirePermission="false" />
  </configSections>

  <entityFrameworkClassic>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory,  Z.EntityFramework.Classic">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, Z.EntityFramework.Classic.SqlServer" />
    </providers>
  </entityFrameworkClassic>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Z.Expressions.Eval" publicKeyToken="59b66d028979105b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.9.0" newVersion="2.7.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>