<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Z.Expressions.Eval" publicKeyToken="59b66d028979105b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.7.0" newVersion="2.7.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>