<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Z.EntityFramework.Classic" version="7.0.15" targetFramework="net45" />
  <package id="Z.EntityFramework.Extensions.Classic" version="3.15.21" targetFramework="net45" />
  <package id="Z.Expressions.Eval" version="2.7.7" targetFramework="net45" />
</packages>