<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProductContext" providerName="EffortCodeFirstEmulatorProvider"
     connectionString="Context=Effort.CodeFirst.Test.ProductContext, Effort.CodeFirst.Test;
                       Data Source=Data"/>
  </connectionStrings>
</configuration>